# Ignorer l'entièreté des fichiers/dossiers
*
# Ne pas ignorer les fichiers suivant
!/.gitignore
!/README.md
!/quoridor.py
!/quoridorX.py
!/main.py
!/api.py

#Ceux qui ne sont pas à remettre
!/quoridor_part_1.py
!/test.py